ion-content {
  --background: var(--ion-color-dark);
}

ion-toolbar {
  color: var(--ion-color-primary);

  --background: var(--ion-color-dark);
}

.task-not-found-container {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.task-not-found {
  color: var(--ion-color-medium);
}

.card {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  margin-top: 10px;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  
}

.card .card-title {
  width: 100%;
  color: var(--ion-color-secondary);
  font-size: 20px;
  color: #000;
} 

.card ion-icon {
  font-size: 24px;
}

.insert-task-container {
  background-color:  var(--ion-color-primary-contrast);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.insert-task-container input {
  width: 100%;
  margin-right: 10px;
  border: var(--ion-color-primary) solid 1px;
  border-radius: 20px;
  padding: 10px;
  padding-inline-start: 20px;
}

.insert-task-container button {
  background: transparent;
  color: var(--ion-color-primary);
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
