<ion-content>
  <ion-toolbar>
    <ion-title>Lista de Tarefas</ion-title>
  </ion-toolbar>

  <div class="task-not-found-container" *ngIf="tasks.length == 0">
    <span class="task-not-found">
      Crie sua Tarefa
    </span>
  </div>

  <div class="card" *ngFor="let task of tasks">
    <span class="card-title" [innerText]="task.name"></span>
    <div class="action-buttons">
    </div>
  </div>

  <div class="insert-task-container">
    <input type="text" name="task" id="task" placeholder="Digite aqui" [(ngModel)]="taskName" (keyup.enter)="insertTask(taskName)">
    <ion-icon name="create-outline" color="success" (click)="openEditTask(task)"></ion-icon>
    <button (click)="insertTask(taskName)">Inserir</button>
  </div>
</ion-content>
